header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #F9FAFB;
  height: 70px;
  border-bottom-width: 2px;
  border-bottom-color: #E5E7EB75;
  padding: 0 75px 0 75px;
}

.theme-button {
  background-color: #FFFFFF;
  border-color: #E5E7EB75;
  border-width: 2px;
  border-radius: 10px;
  padding: 7px;
}

.theme-button:hover {
  background-color: #F9FAFB;
  scale: calc(1.05);
  transition: all 0.1s ease-in-out;
}
